  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Oswald', sans-serif;
}
.cs-link-hover > * {
    position: relative;
}
:root {
    --main-color: #004C97;
}

.main-color{
    color:  #004C97 !important;
}

 .cs-link-hover > *::after {
    content: "";
    opacity: 0;
    animation: all 0.3s;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
 }
 .cs-link-hover > *:hover::after {
    opacity: 1;
 }
 .text-dark{
    color: black;
 }

 .cs-bg-main{
    background-image :url('https://www.imf.org/-/media/Images/IMF/Blog/default-image/page-banner-bg.ashx');
    height: 50svh;
    background-size:cover;
 }
 .cs-mt {
    margin-top: 200px !important;
    color: red !important;
 }
